.page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 35%;
    height: 500px;
    background-color: #E7ECEF;
    color: #0F1020;
    border-radius: 20px;
    margin-top: 60px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    font-size: 30px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
}

input[type=button] {
    height: 50px;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 18px;
    text-transform: uppercase;
}

.modal-header, .modal-body{
    color: #0F1020;
    margin: 0 20px;
}

.modal-header p{
    font-size: 34px;
}

hr{
    width: 100%;
}