/*Main container styling*/
.page{
    display: flex;
    flex-wrap: wrap;
}

/*Request Container Styling*/
.content-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content p{
    margin: 25px auto;
    font-size: 42px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 35%;
    height: 500px;
    background-color: #565454;
    color: #F4F4F4;
    border-radius: 20px;
    margin-top: -50px;
    margin-bottom: 80px;
}

.content input[type=button],.content input[type=search], .results, .requests{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content input[type=search], .content input[type=button]{
    height: 30px;
}

/*Search Result Styling*/

.results{
    height: 305px;
    background-color: #F4F4F4;
    color: black;
}

.results, .requests{
    overflow-y: auto;
    overflow-x: hidden;
}

.result{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.result:hover{
    background-color: #88DB30;
}

.result img{
    height: 90px;
    margin: 10px 0;
    border-radius: 50%;
}

.left, .right{
    width: 50%;
    text-align: center;
}

.result .left{
    flex-grow: 1;
    margin-left: 20px;
}

.result .right{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.result .right span{
    margin: 5px 0;
}

/*Request Styling*/

.requests{
    height: 350px;
    background-color: #F4F4F4;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.request{
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data{
    background-color: #433633;
    color: #F7F0F5;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    width: 145px;
}

.data-head{
    display: flex;
    width: 100%;
}

.data-head span{
    margin: auto;
    text-align: center;
}

.top, .bottom{
    display: flex;
    margin: 10px 0;
}

.data-buttons{
    width: 100%;
    display: inline-flex;
}

.data-buttons a{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.data-buttons .left{
    background-color: #88DB30;
    border-radius: 5px 0 0 5px;
    margin-left: 5px;
}

.data-buttons .right{
    background-color: #DB3030;
    border-radius: 0 5px 5px 0;
    margin-right: 5px;
}

.status p{
    font-size: 24px;
}

hr{
    width: 100%;
}