<div class="page">
    <div class="section nav">
        <div class="left">
            <h1>PlaylistNRG</h1>
        </div>
        <div class="right">
            <h2>Welcome, {{username}}.</h2>
            <input type="button" value="LOG OUT OF SPOTIFY" (click)="onLogout()" />
        </div>
    </div>
    <hr>
    <div class="section team-tracks">
        <p>The music that defines your team.</p>
        <ul class="tracks">
            <li *ngFor="let track of teamTracks">
                <img src="{{track.image}}" /><!-- {{track.artist}} - {{track.title}} -->
            </li>
        </ul>
    </div>
    <hr>
    <div class="section personal-tracks">
        <p>The music that defines you.</p>
        <ul class="tracks">
            <li *ngFor="let track of personalTracks">
                <img src="{{track.image}}" /><!-- {{track.artist}} - {{track.title}} -->
            </li>
        </ul>
    </div>
    <hr>
    <div class="section">
        <p>Make a difference in your team.</p>
        <div class="content-container">
            <div *ngIf="role === 'Manager'; then managerDash else employeeDash;"></div>
            <ng-template #employeeDash>
                <div class="content">
                    <p>Submit a song request.</p>
                    <input type="search" />
                    <div class="results">

                    </div>
                    <input type="button" (click)="submitSongRequest()" value="SUBMIT" />
                </div>
                <div class="content">
                    <p>View your requests.</p>
                    <div class="requests">

                    </div>
                </div>
            </ng-template>
            <ng-template #managerDash>
                <div class="content">
                    <p>Resolve requests.</p>
                    <input type="search" />
                    <div class="requests">
                        <ul>
                            <li class="request" *ngFor="let request of requests">
                                <span class="data-head">
                                    <span>Employee</span>
                                    <span>Date</span>
                                </span>
                                <div class="top">
                                    <span class="data">{{request.employeeName}}</span>
                                    <span class="data">{{request.date}}</span>
                                </div>
                                <span class="data-head">
                                    <span>Artist</span>
                                    <span>Title</span>
                                </span>
                                <div class="bottom">
                                    <span class="data">{{request.artist | shorten:16}}</span>
                                    <span class="data">{{request.title | shorten:16}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <input type="button" (click)="submitSongRequest()" value="SUBMIT" />
                </div>
                <div class="content">
                    <p>Generate playlist.</p>
                    <div class="requests">

                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>