/*Container Styling*/

.page{
    display: flex;
    flex-wrap: wrap;
}

.section{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.section p{
    margin-left: 60px;
    font-size: 42px;
    margin-bottom: 180px;
    margin-top: 70px;
}

/*Track Styling*/

.team-tracks .tracks, .personal-tracks .tracks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-tracks li:nth-child(odd){
    margin-top: -220px;
    margin-right: -100px;
    margin-left: 40px;
    z-index: 9999;
}

.team-tracks li:first-child{
    margin-left: -40px;
}

.team-tracks img{
    height: 155px;
}

.personal-tracks li{
    margin-top: -100px;
}

.personal-tracks li:not(:first-child) img{
    margin-left: -40px;
}

.personal-tracks li:nth-child(1) img{
    height: 255px;
}

.personal-tracks li:nth-child(2) img{
    height: 240px;
}

.personal-tracks li:nth-child(3) img{
    height: 225px;
}

.personal-tracks li:nth-child(4) img{
    height: 210px;
}

.personal-tracks li:nth-child(5) img{
    height: 195px;
}

hr{
    width: 100%;
    margin-top: 120px;
}

ul{
    list-style: none;
}

li{
    display: inline;
}

/*Nav Styling*/

.section.nav{
    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
    height: 80px;
}

.section.nav h1, .section.nav h2{
    font-weight: 100;
}

.section.nav h1{
    font-size: 42px;
}

.section.nav h2{
    font-size: 36px;
}

.section.nav, .right{
    flex-direction: row;
    align-items: center;
}

.left{
    flex-grow: 1;
}

.right{
    display: inline-flex;
}

.section.nav input[type=button]{
    height: 30px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0 10px;
}

hr:first-of-type{
    margin-top: 0;
}

/*Request Container Styling*/
.content-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content p{
    margin: 10px auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 35%;
    height: 500px;
    background-color: #565454;
    color: #F4F4F4;
    border-radius: 20px;
    margin-top: -50px;
    margin-bottom: 80px;
}

.content input[type=button], .content input[type=search], .results, .requests{
    height: 30px;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content input[type=button], .requests{
    margin-bottom: 35px;
}

/*Search Result Styling*/

.results{
    height: 250px;
    background-color: #F4F4F4;
}

/*Request Styling*/

.requests{
    height: 350px;
    background-color: #F4F4F4;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.request{
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data{
    background-color: #433633;
    color: #F7F0F5;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    width: 145px;
}

.data-head{
    display: flex;
    width: 100%;
}

.data-head span{
    margin: auto;
    text-align: center;
}

.top, .bottom{
    display: flex;
    margin: 4px 0;
}

.top{
    margin-top: 6px;
}

.bottom{
    margin-bottom: 20px;
}