<div class="page">
    <div class="section nav">
        <div class="left">
            <h1>PlaylistNRG</h1>
        </div>
        <div class="right">
            <h2>Welcome, {{username}}.</h2>
            <input type="button" value="LOG OUT OF SPOTIFY" (click)="onLogout()" />
        </div>
    </div>
    <div class="section team-tracks">
        <p>The music that defines your team.</p>
        <ul class="tracks">
            <li *ngFor="let track of teamTracks">
                <img src="{{track.thumbnail}}" /><!-- {{track.artist}} - {{track.title}} -->
            </li>
        </ul>
    </div>
    <div class="section personal-tracks">
        <p>The music that defines you.</p>
        <ul class="tracks">
            <li *ngFor="let track of personalTracks">
                <img src="{{track.thumbnail}}" /><!-- {{track.artist}} - {{track.title}} -->
            </li>
        </ul>
    </div>
    <div class="section">
        <p>Make a difference in your team.</p>
        <div class="content-container">
            <div *ngIf="role === 'Manager'; then managerDash else employeeDash;"></div>
            <ng-template #employeeDash>
                <app-employee [role]="role"></app-employee>
            </ng-template>
            <ng-template #managerDash>
                <app-manager [role]="role" [teamTracks]="teamTracks"></app-manager>
            </ng-template>
        </div>
    </div>
</div>