<div class="page">
    <div class="content">
        <div class="section top">
            <div class="circle"></div>
            <p><strong>PlaylistNRG Sign In</strong></p>
        </div>
        <hr>
        <div class="section">
            <p>Connect <strong class="highlighted"> PlaylistNRG </strong> to your Spotify account.</p>
        </div>
        <div class="section">
            <input type="button" (click)="onLogin()" value="LOG IN TO SPOTIFY" />
        </div>
        <hr>
        <div class="section">
            <input type="button" (click)="onLogin()" value="JOIN A GROUP" />
        </div>
    </div>
</div>